
.s5 label { color:#dedede;}
textarea {
  width: 100%;
}
.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2.5em 0;
}
.is-center {
  text-align: center;
}
.button-success {
  width:100%;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background:#4bc6ca; 
}
.button-xlarge {
  font-size: 100%;
}
button {
  float: right;
}
#name, #email {
  width: 100%;
}
.honeypot-field {
  display: none;
}    
.pc { display:block;}
.mo { display:none;}

@media screen and (max-width:480px) {
  .pc { display:none;}
  .mo { display:block;}
  .s5 label { 
    font-size:3vw;
    margin-top:-2vw;
  }
  .pure-form .pure-group input, .pure-form .pure-group textarea {
    padding:0.5vw;
  }
}
